* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}






.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid #000;
}

.d-flex {
    display: flex;
}

.container-big {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-small {
    width: 65%;
    margin: 0 auto;
    max-width: 1200px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }






/* *HEADER */
header {
    width: 100%;
    height: 100%;
}

header .topbar {
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

header .topbar .menu-left {
    width: 35%;
    height: 100%;
}

header .topbar .menu-right {
    width: 35%;
    height: 100%;
}

.box-header {
    position: relative;
}

header .box-trial {
    width: 250px;
    height: 100%;
}

/* todo: da ricontrollare bug */
.jumbotron {
    width: 50%;
    height: 70vh;
    position: absolute;
    top: 15%;
    left: 0;
    margin-left: 260px;
    min-width: 250px;
}

.box-header {
    background-color: green;
}
/* /HEADER */


/* *MAIN */
main {
    margin-top: 100px;
}

/* todo:aggiungere tutte le section in sequenza */
.operations, .team, .companies, .faq, footer, .footer-bottom {
margin-top: 100px;
}

main .business .operations .team .company .faq {
    width: 100%;
    height: 100vh;
}


/* BUSINESS */
/* COL */
/* todo: estrapolare eventuale padding/margin aggiunto */
.col-top .col {
    width: calc(100% / 3);
}

.col-bottom .col {
    width: 100%;
}
/* /COL */

/* PARTNER */
main .box-business .partner .img {
    width: 60%;
    height: 350px;
}

main .box-business .partner .info {
    width: 40%;
    height: 350px;
}
/* /PARTNER */
/* BUSINESS */


/* OPERATIONS */
main .cards {
    flex-wrap: wrap;
}

main .cards .card {
   width: calc(100%/3);
   min-width: 250px;
   padding: 50px;
}
/* /OPERATIONS */

/* TEAM */
.box-team {
    width: 50%;
}
/* /TEAM */


/* COMPANIES */
.box-top {
    justify-content: space-between;
    height: 500px;
}
/* BOX LEFT */
.box-left {
    width: 500px;
    flex-wrap: wrap;
}

.box-left .company {
    width: calc(100% / 2);
    height: calc(100% / 2);
    min-width: 250px;
    min-height: 250px;
}
/* /BOX LEFT */


/* BOX CENTER */
.box-center {
    width: calc(100vw - 1050px);
    height: 100%;
    overflow-y: scroll;   
    overflow-y: hidden;   
}
/* /BOX CENTER */


/* BOX RIGHT */
.box-right {
    width: 500px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.box-right .company {
    width: calc(100% / 2);
    height: calc(100% / 2);
    min-width: 250px;
    min-height: 250px;
}
/* /BOX RIGHT */

/* BOX BOTTOM */
.box-bottom {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
}
.box-bottom .text {
    width: 50%;
}
.box-bottom .button {
    width: 30%;
}
/* /BOX BOTTOM */
/* /COMPANIES */


/* FAQ */
.faq .row-menu {
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}
/* /FAQ */
/* /MAIN */


/* *FOOTER */
footer {
    width: 100%;
}
/* FOOTER TOP */
.box-footer .footer-top .col {
    width: 20%;
}
/* /FOOTER TOP */

/* FOOTER BOTTOM */
.box-footer .footer-bottom {
    justify-content: space-between;
}

.footer-bottom {
    width: 8%;
}
/* /FOOTER BOTTOM */
/* /FOOTER */