* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2rem;
}

/* COLORS */
:root {
    --lightblue-color: #b4d0e7;
    --blue-color: #0061ff;
    --white-color: #ffffff;
    --green-color: #a2d39b;
    --lightgreen-color: #d0e9cd;
    --darkbrown-color: #61082b;
    --red-color: #ff1c1c;
    --darkred-color: #d5001f;
    --darkblue-color: #0d2481;
    --blue-color: #0093ce;
    --yellow-color: #ffd830;
    --lightgray-color: #d0d0d3;
}

/* /COLORS */






/* !"DEBUG" DA ELIMINARE */
.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid #000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.d-flex {
    display: flex;
}

/* CONTAINERS */
.container-big {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-small {
    width: 65%;
    margin: 0 auto;
    max-width: 1000px;
}

/* /CONTAINERS */

/* Todo: Da ricontrollare */
/* BTN */
.btn-default {
    padding: 5px 10px;
    background-color: var(--blue-color);
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
}

.btn-white {
    padding: 5px 30px;
    background-color: var(--white-color);
    display: inline;
    cursor: pointer;
}

.btn-border {
    padding: 5px;
    border: 1px solid grey;
    display: inline;
    cursor: pointer;
}

.strong {
    font-weight: 700;
}

/* /BTN */






/* *HEADER */
header {
    width: 100%;
    height: 100%;
    padding-top: 130px;
    padding-bottom: 10px;
    background-color: var(--lightblue-color);
}

header .top-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px 0px gray;
    z-index: 999;
}

header .topbar {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: var(--white-color);
}

header .topbar .menu-left {
    align-items: center;
    width: 35%;
    height: 100%;
}

/* logo */
header .topbar .menu-left .logo img {
    width: 70%;
    padding-left: 20px;
}

/* MENU LEFT */
header .topbar .menu-left ul {
    list-style: none;
}

header .topbar .menu-left ul li {
    display: inline-block;
    padding-left: 10px;
}

header .topbar .menu-left ul li a {
    text-decoration: none;
    color: #000;
}

/* /MENU LEFT */


/* MENU RIGHT */
header .topbar .menu-right {
    justify-content: flex-end;
    align-items: center;
    width: 35%;
    height: 100%;
}

header .topbar .menu-right ul {
    list-style: none;
}

header .topbar .menu-right ul li {
    display: inline-block;
    padding-right: 20px;
}

header .topbar .menu-right ul li a {
    text-decoration: none;
    color: #000;
}

header .topbar .menu-right .button {
    padding-right: 10px;
}

/* /MENU RIGHT */


.box-header {
    position: relative;
}

header .box-trial {
    width: 350px;
    height: 350px;
    padding-top: 50px;
}

header .box-trial .button {
    padding-top: 20px;
    padding-bottom: 20px;
}

header .box-trial .arrow {
    padding-top: 25px;
    padding-bottom: 5px;
}

header .box-trial .arrow a {
    text-decoration: none;
    color: #000;
    font-size: 50px;
}

.jumbotron {
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 255px;
    margin-left: 355px;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
}

/* /HEADER */



/* *MAIN */
main {
    margin-top: 100px;
}

.operations,
.team,
.companies,
.faq,
footer,
.footer-bottom {
    margin-top: 100px;
}

main .business .operations .team .company .faq {
    width: 100%;
    height: 100vh;
}


/* BUSINESS */
/* BILLINGS */
.business {
    margin-top: 150px;
}

.box-business .billings {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.box-business .billings .month,
.year {
    padding-left: 5px;
    padding-right: 50px;
}

.box-business .billings .circle-big {
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--lightgray-color);
    border-radius: 50%;
    cursor: pointer;
}

.box-business .billings .circle-small {
    width: 10px;
    height: 10px;
    border: 1px solid var(--lightgray-color);
    border-radius: 50%;
    background-color: var(--white-color);
}

.box-business .billings .circle-big:active {
    background-color: var(--blue-color);
}

/* /BILLINGS */


/* COL */
/* TOP */

.col-top .col {
    width: calc(100% / 3);
    border: 1px solid var(--lightgray-color);
    margin: 20px;
}

#single {
    margin-left: 0;
}

#agency {
    margin-right: 0;
}

.col-top .col .box-col {
    padding: 20px;
}

.col-top .col .type {
    text-align: center;
    border-bottom: 1px solid var(--lightgray-color);
    padding: 10px 0 10px 0;
}

.category .title {
    font-size: 1.8rem;
}

.category p {
    padding-bottom: 10px;
}

.col-top .description {
    padding-top: 40px;
}

.box-col .button {
    text-align: center;
    padding-top: 20px;
    font-size: 0.7rem;
}

.box-col .link {
    padding: 30px 0 0 0;
    font-size: 0.7rem;
}

.box-col .link p {
    padding-right: 5px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightgray-color);
}


.highlights p {
    padding: 30px 0 20px 0;
    font-size: 0.7rem;
}

.highlights ul {
    list-style: none;
}

.col-top ul li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 0.7rem;
}

.fa-li.fa-solid.fa-check {
    color: var(--blue-color);
}

.fa-ul {
    margin-left: 17px;
}

/* /COL */
/* /TOP */

/* BOTTOM */
/* COL */
.col-bottom {
    margin-top: 30px;
}

.col-bottom .col {
    width: 100%;
    border: 1px solid var(--lightgray-color);
}

.col-bottom .col .type {
    text-align: center;
    border-bottom: 1px solid var(--lightgray-color);
    padding: 10px;
}

.col-bottom .col .box-col {
    padding: 20px;
}

.col-bottom .col .box-col .category {
    align-items: center;
    justify-content: space-between;
}

.col-bottom .col .box-col .category .btn-default {
    padding: 5px 30px;
}

.col-bottom .description {
    padding-top: 30px;
    max-width: 700px;
}

/* /COL */
/* /BOTTOM */




/* PARTNER */
.partner {
    margin-top: 100px;
}

main .box-business .partner .img {
    width: 100%;
}

main .box-business .partner .img img {
    width: 100%;
}

main .box-business .partner .info {
    width: 50%;
    padding: 50px;
}

main .box-business .partner .info h3 {
    padding-bottom: 20px;
}

main .box-business .partner .button {
    padding-top: 20px;
}

/* /PARTNER */
/* BUSINESS */




/* OPERATIONS */
main .cards {
    flex-wrap: wrap;
}

main .cards .card {
    width: calc(100%/3);
    min-width: 250px;
    padding: 30px;
}

main .cards .card img {
    width: 100%;
}

.box-operations .cards .card h3 {
    padding-bottom: 20px;
}

/* /OPERATIONS */



/* TEAM */
.box-team {
    width: 50%;
}

.box-team h2 {
    padding-bottom: 40px;
}

/* /TEAM */


/* COMPANIES */
.box-top {
    justify-content: space-between;
    width: 100%;
    height: 500px;
}

/* BOX LEFT */
.box-left {
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
}

.box-left .company {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

/* Grandezza e Colore svg */
.box-left .company img {
    width: 50%;
    filter: brightness(0) invert(1);
}

#florida img {
    width: 180px;
}



#designit {
    background-color: var(--green-color);
    transition: 0.5s linear;
}

#designit:hover {
    border: 15px solid var(--lightgreen-color);
}

#arizona {
    background-color: var(--darkbrown-color);
    transition: 0.5s linear;
}

#arizona:hover {
    border: 15px solid brown;
}

#florida {
    padding: 100px 0 80px 40px;
    background-color: var(--blue-color);
    transition: 0.5s linear;
}

#florida:hover {
    border: 15px solid var(--lightblue-color);
    padding-left: 28px;
    padding-top: 85px;
}

#topps {
    background-color: var(--red-color);
    transition: 0.5s linear;
}

#topps:hover {
    border: 15px solid rgb(255, 111, 111);
}

/* /BOX LEFT */


/* BOX CENTER */
.box-center {
    width: calc(100% / 3);
    height: 100%;
    overflow: auto;
    padding: 40px;
}

.box-center img {
    width: 50%;
}

.box-center .border {
    width: 100px;
    padding-top: 50px;
    border-bottom: 1px solid var(--lightgray-color);
}

.box-center p {
    padding-top: 50px;
}

/* /BOX CENTER */


/* BOX RIGHT */
.box-right {
    width: calc(100% / 3);
    height: 100%;
    flex-wrap: wrap;
}

.box-right .company {
    justify-content: center;
    width: 50%;
    height: 50%;
}

/* Grandezza e Colore svg */
.box-right .company img {
    width: 50%;
    filter: brightness(0) invert(1);
}



#bicycle {
    background-color: var(--darkred-color);
    transition: 0.5s linear;
}

#bicycle:hover {
    border: 15px solid rgb(255, 111, 111);
}

#hearst {
    background-color: var(--lightblue-color);
    transition: 0.5s linear;
}

#hearst:hover {
    border: 15px solid var(--white-color);
}

#planet {
    background-color: var(--darkblue-color);
    transition: 0.5s linear;
}

#planet:hover {
    border: 15px solid var(--blue-color);
}

#channel {
    background-color: var(--yellow-color);
    transition: 0.5s linear;
}

#channel:hover {
    border: 15px solid rgb(248, 248, 144);
}

/* /BOX RIGHT */

/* BOX BOTTOM */
.box-bottom {
    background-color: var(--lightblue-color);
}

.box-bottom .text {
    width: 50%;
}

.box-freetrial {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
}

.box-freetrial .button {
    width: 30%;
}

/* /BOX BOTTOM */
/* /COMPANIES */


/* FAQ */
.faq {
    min-height: 370px;
}
.faq h2 {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--lightgray-color);
}

.faq .row-menu {
    justify-content: space-between;
    padding: 20px 20px 20px 0;
}

.faq .row-menu {
    border-bottom: 1px solid var(--lightgray-color);
}

.text-hidden {
    display: none;
}

.faq .row:active .text-hidden {
    padding: 20px 0 20px 30px;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.315);
}


/* Freccia */
.faq .row-menu .arrow-down {
    margin-right: 10px;
    cursor: pointer;
    transition: 1s;
}

.faq .row-menu .arrow-down:hover {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 3px 0 3px;
    border-radius: 5px;
}
/* /Freccia */


/* /FAQ */
/* /MAIN */


/* *FOOTER */
footer {
    width: 100%;
    padding-top: 100px;
    background-color: #000;
    color: var(--white-color);
}

/* FOOTER TOP */
.box-footer .footer-top .col {
    width: 20%;
}

.box-footer .footer-top .col .footer-title {
    padding-bottom: 30px;
}

.box-footer .footer-top .col ul {
    list-style: none;
}

.box-footer .footer-top .col ul li {
    padding-bottom: 10px;
}

.box-footer .footer-top .col ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.7rem;
}

.box-footer .footer-top .col ul li a:hover {
    text-decoration: underline;
}

/* /FOOTER TOP */



/* FOOTER BOTTOM */
.box-footer .footer-bottom {
    justify-content: space-between;
    border-top: 1px solid var(--lightgray-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-bottom {
    width: 8%;
}

/* /FOOTER BOTTOM */
/* /FOOTER */